.employee-list-container {
  max-width: 1400px;
  margin: 32px auto;
  padding: 16px;
}

.employee-list-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}
.employee-list-title {
  text-align: center;
  margin-bottom: 24px;
  margin-top: 16px;
  color: #333;
}

.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Centriranje sadržaja unutar kontejnera */
  gap: 16px;
  width: 70%;
}

.search-input {
  width: 70%; /* Širina polja za pretragu */
  max-width: 500px; /* Maksimalna širina */
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 18px;
  transition: border-color 0.3s ease;
  text-align: center;
}

.search-input:focus {
  border-color: #007bff;
  outline: none;
}

.employee-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px;
  justify-items: center;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  gap: 8px;
}

.pagination button {
  padding: 8px 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  font-size: 14px;
}

.pagination button.active {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.pagination button:disabled {
  background-color: #f8f9fa;
  cursor: not-allowed;
  opacity: 0.6;
}
.add-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px; /* Usklađeno sa veličinom dugmeta kod manufacturer-a */
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-button:hover {
  background-color: #0056b3;
}
