<h1 class="employee-list-title">Employees</h1>
<div class="employee-list-container">
  <div class="employee-list-header">
    <div class="search-bar-container">
      <input
        type="text"
        placeholder="Search by username"
        (input)="onSearch($event.target.value)"
        class="search-input"
      />
      <button class="add-button" (click)="onAdd()">Add</button>
    </div>
  </div>

  <div class="employee-list">
    <app-employee-item
      *ngFor="let employee of employees"
      [employee]="employee"
      (employeeClick)="onEmployeeClick($event)"
    ></app-employee-item>
  </div>

  <div class="pagination">
    <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 0">
      Previous
    </button>

    <button
      *ngFor="let page of displayedPages"
      [disabled]="!isNumber(page)"
      [class.active]="page === currentPage"
      (click)="handlePageClick(page)"
    >
      {{ page }}
    </button>

    <button
      (click)="goToPage(currentPage + 1)"
      [disabled]="currentPage + 1 >= totalPages"
    >
      Next
    </button>
  </div>
</div>
