.vehicle-item {
  width: 300px; /* Fiksna širina kartice */
  height: 250px; /* Fiksna visina kartice */
  border: 1px solid #ddd; /* Obrubi za karticu */
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Dodaj sjenku */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 16px auto; /* Razmak između elemenata */
}

.vehicle-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 8px;
}

.vehicle-model {
  font-weight: bold;
  font-size: 16px;
}
