.client-list-container {
  max-width: 1400px;
  margin: 32px auto;
  padding: 16px;
}

.client-list-header {
  display: flex;
  justify-content: center; /* Horizontalno centriranje */
  align-items: center; /* Vertikalno centriranje */
  margin-bottom: 32px;
}

.search-bar-container {
  display: flex;
  justify-content: center; /* Centriranje sadržaja unutar kontejnera */
  align-items: center;
  width: 100%; /* Osigurava da zauzima ceo raspoloživi prostor */
}

.search-input {
  width: 50%; /* Širina polja za pretragu */
  max-width: 500px; /* Maksimalna širina */
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 18px;
  transition: border-color 0.3s ease;
  text-align: center; /* Tekst centriran unutar input-a */
}

.search-input:focus {
  border-color: #007bff;
  outline: none;
}


.client-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px;
  justify-items: center;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  gap: 8px;
}

.pagination button {
  padding: 8px 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  font-size: 14px;
}

.pagination button.active {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.pagination button:disabled {
  background-color: #f8f9fa;
  cursor: not-allowed;
  opacity: 0.6;
}
