.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

ngx-charts .legend {
  max-width: 100%;
  font-size: 14px; /* Larger font for better readability */
  text-align: left; /* Align text for better appearance */
  white-space: normal; /* Prevent truncation of text */
  overflow: visible; /* Ensure the full text is displayed */
}

ngx-charts .label {
  font-size: 12px; /* Increase the font size of labels */
  white-space: nowrap; /* Ensure labels do not wrap */
  overflow: visible; /* Prevent text clipping */
}
