<mat-toolbar color="primary" class="custom-toolbar">
  <a routerLink="/" class="logo-link">
    <span class="logo">eMobilityHub</span>
  </a>
  <span class="spacer"></span>
  <button mat-button routerLink="/cars" class="menu-button">Car</button>
  <button mat-button routerLink="/bicycles" class="menu-button">Bicycle</button>
  <button mat-button routerLink="/scooters" class="menu-button">Scooter</button>
  <button mat-button routerLink="/manufacturers" class="menu-button">
    Manufacturer
  </button>
  <button mat-button routerLink="/clients" class="menu-button">Client</button>
  <button mat-button routerLink="/employees" class="menu-button">
    Employee
  </button>
  <button mat-button routerLink="/rentals" class="menu-button">Rental</button>
  <button mat-button routerLink="/statistics" class="menu-button">
    Statistic
  </button>
  <button mat-button routerLink="/prices" class="menu-button">Price</button>
  <button mat-button color="warn" routerLink="/logout" class="logout-button">
    Logout
  </button>
</mat-toolbar>
