<mat-toolbar color="primary" class="custom-toolbar">
  <span class="logo">eMobilityHub</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/car" class="menu-button">Car</button>
  <button mat-button routerLink="/bicycle" class="menu-button">Bicycle</button>
  <button mat-button routerLink="/scooter" class="menu-button">Scooter</button>
  <button mat-button routerLink="/manufacturer" class="menu-button">
    Manufacturer
  </button>
  <button mat-button routerLink="/client" class="menu-button">Client</button>
  <button mat-button routerLink="/employee" class="menu-button">
    Employee
  </button>
  <button mat-button routerLink="/rental" class="menu-button">Rental</button>
  <button mat-button routerLink="/breaks" class="menu-button">Breaks</button>
  <button mat-button routerLink="/statistic" class="menu-button">
    Statistic
  </button>
  <button mat-button routerLink="/price" class="menu-button">Price</button>
  <button mat-button color="warn" routerLink="/logout" class="logout-button">
    Logout
  </button>
</mat-toolbar>
